const topics = document.querySelectorAll('.topic');
const bar = document.getElementById('bar');
const text = document.getElementById('progressText');

function update() {
  let done = 0;
  topics.forEach(t => t.checked && done++);
  const percent = Math.round((done / topics.length) * 100);
  bar.style.width = percent + '%';
  text.innerText = `Completed: ${percent}%`;

  localStorage.setItem('upscProgressV2',
    JSON.stringify([...topics].map(t => t.checked))
  );
}

topics.forEach(t => t.addEventListener('change', update));

const saved = JSON.parse(localStorage.getItem('upscProgressV2'));
if (saved) {
  topics.forEach((t,i)=> t.checked = saved[i]);
  update();
}
